@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,600,700,900');
/*------------------------generic styles*/
body{
  font-family: 'Vollkorn', serif;
}

/*-------------------------footer*/
.logo {
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
	display: inline-block;
}
.footer {
	font-size: 16px;
	letter-spacing: 1px;
	padding-top: 10px;
	font-weight: 600;
	background-color: rgba(36, 38, 39, 0.7);
	text-align: center;
}
.made {
	display: inline-block;
} 
body{
	background: url(/static/img/rddle_background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*-------------------------header*/
.master {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover; 
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-title {
	border-radius: 6px;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	color: white;
	padding: 20px;
	margin-top: 10%;
}
.game-title h1{
  /*font-size: 190px;*/
  color: rgba(225,225,225, .1);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKlrgD4sc8cSx5OMKGBaqj6TMYaWgspwY49aY2we0M4IpGpyzA");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: cover;
  -webkit-background-clip: text;
  -moz-background-clip: text;
	background-clip: text;
  animation: animate 15s linear infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

/*-------------------------------------nav bar */
.navbar-light .navbar-toggler {
    border: none;
    color: #000;
    background-color: #3f8219;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    background-color:  #34822c;
    padding: 10px;
    font-weight: 600;
}

/*------------------------------index main content*/
.mainContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.start-btn {
	float: right;
}
.modal-header {
    background-color: #007bff;
}
.identity-title {
    background-color: #B6174B;
    text-align: center;
    margin-bottom: 0;
    color: white;
    padding: 10px;
  
}
.username-input { 
    /*background-color: #C3EB78;*/
    text-align: center;
    font-size: 30px;
    height: 20%;
}
.form-control:focus {
  background-color: #C3EB78;
  border: none;
  box-shadow: none;
}

.form-control {
  background-color: #C3EB78;
  border: none;
}
/*------------------------------game page main content*/
.riddle {
	background-color: #C3EB78;
  color: #000;
  padding: 10px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 5px;
}
.flash-message {
	color: red;
	font-weight: 600;
	background-color: #000;
	padding: 5px;
	margin-bottom: 0;
}
.welcome-message{
  font-weight: 700;
  color: #ced4da;
  text-shadow: 2px 1px 15px #000;
}
#submitButton{
  float: right
}

/*------------------------------gameover page*/
.game-over{
  background-color: #C3EB78;
  text-align: center;
  padding: 10px;
}
.score-text{
  font-size: 25px;
  font-weight: bold;
}
.play-again{
  font-size: 20px;
}
/*------------------------------leaderboard page main content*/
.leaderboard{
	padding-top: 30px;
}

.modal-body {
  background-color: #C3EB78;
}
.modal-header {
  background-color: #B6174B;
}

.table-bordered td {
  background-color: #C3EB78;
  border: 1px solid #000000;
}
/*---------------------------------------------------media queries*/
@media only screen and (max-width: 768px){
	h1,
	h2,
	.username-input{
		font-size: 25px;
	}
}

@media only screen and (max-width : 599px) {
  .game-title{
  font-size: 16px
}
  h1,
	h2 {
		font-size: 18px;
	}
	h3{
	  font-size: 14px;
	}
	.username-input{
	  font-size: 16px;
	}
	.riddle{
	  font-size: 16px;
	}
}
/*-----------------------------------------animation for jumbotron*/
  @keyframes animate {
    0%{
      background-position: left 0px top 10px;
    }
    40%{
      background-position: left 800px top 10px;
  }
}
