{% extends 'base.html' %} {% block content %}
<div class="row">
    <h1 class="welcome-message">Welcome {{ username }}, it is time to play</h1>
    <div class="col-lg-8 col-md-10 mx-auto">
        <p class="riddle">{{ riddles[riddle_index]["riddle"] }} </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
            <p class="flash-message">{{ message }}</p>
            {% endfor %}
        {% endif %} 
        {% endwith %}
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST">
            <div class="control-group">
                <input type="text" class="form-control" placeholder="answer" name="message" id="message" autofocus>
                <input type="hidden" name="riddle_index" id="riddle_index" value={{riddle_index}}>            
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}