{% extends 'base.html' %} {% block content %}
<div class="row leaderboard">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="list_games table-responsive">
            <table class="table table-condensed table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rank</td>
                        <th scope="col">User</td>
                        <th scope="col">Score</td>
                    </tr>
                <tbody>
                    {% for user in leaderboard %}
                    <tr>          
                        <td scope="row">{{loop.index}}</td>
                        <td scope="row">{{user.name}}</td>
                        <td scope="row">{{user.score}}</td>                    
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}